body {
  padding: 2em 2em 0.5em 2em;
  background-color: #171c28;
  font-size: 16px;
}

div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}
